.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 1em; 
}

.searchIntro {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2em;
}

.searchIntro h3 {
  font-size: 2rem;
  margin-bottom: .6em;
  font-weight: 500;
}

.form {
  border: 1px solid rgba(0, 0, 0, 0.237);
  padding: 2em;
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form form input,
select {
  border: none;
  width: 100%;
  height: 40px; 
  margin-bottom: 1em;
  border-radius: 10px;
  background-color: #fff;
  padding: .5em;
}

.form form input[type="submit"] {
  background-color: #8CBEB2;
  width: 100%;
  color: #fff;
  margin-top: 1em;
  height: 45px
}

.form form input[type="submit"]:hover {
  background-color: #573544;
  cursor: pointer;
  transition: .4s;
}

.cards {
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);  
  gap: 1em;
  margin: 0 auto; 
 
}

.Result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 28px;
  gap: 2em;
}



.Result div {
  text-align: center;
  width: 50%;
}

.Search button {
  background-color: #8CBEB2;
  width: 15%;
  color: #fff;
  border: none;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  margin-top: 2em;
}

.Search button:hover {
  background-color: #573544;
  transition: .4s;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .form {
    padding: 1em; /* Reduzi um pouco o padding */
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);  
    gap: 0.5em; /* Reduzi o espaçamento entre os cartões */
   
  }
}