.footer {
  width: 100%;
  color: #fff;
  background-color: #8CBEB2;
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2em 1em; /* Reduzi o padding horizontal */
  border-bottom: 1px solid #fff; /* Alterei a cor da borda */
  text-align: center; /* Centraliza o conteúdo */
}

.about h3 {
  font-size: 1.5rem; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Comfortaa', sans-serif;
}

.about div ol {
  list-style: none;
  padding: 0;
}

.about div ol p {
  font-weight: 600;
  margin-bottom: .5em;
}

.about div ol li {
  margin-bottom: .2em;
}

.about div ol li:hover {
  color: #5c4b51;
  transition: .3s;
  cursor: pointer;
}

.copy {
  display: flex;
  flex-direction: column; /* Alterei para empilhar os elementos verticalmente */
  align-items: center; /* Centraliza os elementos */
  padding: .6em 1em; /* Reduzi o padding horizontal */
}

.copyRight span {
  font-weight: bold;
  color: #5c4b51
}

.social {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center; /* Centraliza os elementos */
  margin-top: 0.5em; /* Adicionei um espaçamento superior */
}

.social svg{
  width: 25px;
  height: 25px;
}

.social svg:hover{
  color: #5c4b51;
  transition: .3s;
  cursor: pointer;
}

@media (max-width: 768px) {
  .about {
    padding: 2em 0.5em; /* Reduz o padding horizontal */
  }
  
  .copy {
    padding: .6em 0.5em; /* Reduz o padding horizontal */
  }
}