.footer {
  width: 100%;
  color: #fff;
  background-color: #8CBEB2;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex-wrap: wrap;

}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2em 5em; 
  border-bottom: 1px solid #fff; 
  text-align: center; 
}

.about h3 {
  font-size: 1.5rem; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Comfortaa', sans-serif;
}

.about div ol {
  list-style: none;
  padding: 0;
}

.about div ol p {
  font-weight: 600;
  margin-bottom: .5em;
}

.about div ol li {
  margin-bottom: .2em;
}

.about div ol li:hover {
  color: #5c4b51;
  transition: .3s;
  cursor: pointer;
}

.copy {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between;
  padding: .6em 10em; 
}

.copyRight span {
  font-weight: bold;
  color: #5c4b51
}

.social {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center; 
  margin-top: 0.5em;
}

.social svg{
  width: 25px;
  height: 25px;
}

.social svg:hover{
  color: #5c4b51;
  transition: .3s;
  cursor: pointer;
}

@media (max-width: 768px) {
  .about {
    padding: 2em 4em;
  }
  
  .copy {
    padding: .6em 2.5em;
  }
}