.Book {
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza verticalmente */
  min-height: 100vh; /* Isso garante que a altura da tela seja coberta */
  flex-direction: column;
  margin: 4em 0;

}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 1em 0 2em 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 2em;
  background-color: #ffffff96;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cover img {
  width: 390px;
  height: 90%;
}

.cover {
  flex: 1;
  max-width: 50%; /* Define a largura máxima como metade da largura da tela */
  margin-right: 20px;
}

.infoBook {
  flex: 1;
  width: 100%; /* Define a largura máxima como metade da tela */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4em;
}

.info {
  margin-bottom: 20px;
  max-width: 100%;
}

.details {
  display: flex;
  justify-content: flex-start; /* Centraliza horizontalmente */
  align-items: center;
  margin-bottom: 20px;

}

.details table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details table caption {
  text-align: start; /* Centraliza o texto do título da tabela */
  margin-bottom: 0.5em;
  font-weight: bold;
  border-bottom: 1px solid rgb(180, 179, 179);
  padding: 0 0 0.4em 0.3em;
 
}

.details table tr {
  border-bottom: 1px solid rgb(180, 179, 179);
  padding: 0.2em 0;
  display: flex;
  flex-direction: row;
  gap: 1em;

}

.description {
  max-width: 1200px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 2em;
  background-color: #ffffff96;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.buttons a {
  margin-top: 2.5em;
  background-color: #8CBEB2;
  border: none;
  width: 33%;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons a:hover{
  background-color: #573544;
  transition: .4s;
  cursor: pointer;
}

.star {
  font-size: 28px; /* Define o tamanho das estrelas */
  color: rgba(238, 169, 40, 0.795); /* Define a cor das estrelas */
}

@media screen and (max-width: 768px) {
  
  .container {
    flex-direction: column;
    align-items: center; /* Centraliza os itens na tela */
  }

  .cover, .infoBook {
    max-width: 100%; /* Define a largura máxima para ocupar 100% da largura da tela */
    margin-right: 0; /* Remove a margem */
  }
  
}
