.Book {
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza verticalmente */
  min-height: 100vh; /* Isso garante que a altura da tela seja coberta */
  flex-direction: column;
  margin: 4em 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: 1em 0 2em 0;
  width: 100%;
}

.cover img {
  width: 390px;
  height: 90%;
}

.cover {
  flex: 1;
  max-width: 50%; /* Define a largura máxima como metade da largura da tela */
  margin-right: 20px;
}

.infoBook {
  flex: 1;
  width: 100%; /* Define a largura máxima como metade da tela */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4em;
}

.info {
  margin-bottom: 20px;
  max-width: 100%;
}

.details {
  display: flex;
  justify-content: flex-start; /* Centraliza horizontalmente */
  align-items: center;
  margin-bottom: 20px;

}

.details table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details table caption {
  text-align: start; /* Centraliza o texto do título da tabela */
  margin-bottom: 0.5em;
  font-weight: bold;
  border-bottom: 1px solid rgb(180, 179, 179);
  padding: 0 0 0.4em 0.3em;
 
}
.description {
  max-width: 1100px;
}

@media screen and (max-width: 768px) {
  
  .container {
    flex-direction: column;
    align-items: center; /* Centraliza os itens na tela */
  }

  .cover, .infoBook {
    max-width: 100%; /* Define a largura máxima para ocupar 100% da largura da tela */
    margin-right: 0; /* Remove a margem */
  }
  
}
